<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h1>You deleted your tasks!</h1>
    <p>I hope you finished them all...</p>
    <p><a href='/'>View your list of things to do.</a></p>
</body>
</html>
